@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
    transition: 0.25s;
}

a:hover {
    cursor: pointer;
}

nav {
    font-size: 2.25vh;
    padding-bottom: 0.8rem;
}

nav li {
    padding-right: 3rem;
}

.sticky-top {
    transition: background-color 200ms linear;
}

.sticky-top.scrolled {
    background-color: #f7f7f7 !important;
    transition: background-color 200ms linear;
}

#change {
    background-color: #F7F7F7 !important;
}
