@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f7f7f7;
}

a {
	text-decoration: none;
	transition: 0.25s;
}

a:hover {
	cursor: pointer;
}

nav {
	font-size: 2.25vh;
	padding-bottom: 0.8rem;
}

nav li {
	padding-right: 3rem;
}

.sticky-top {
	transition: background-color 200ms linear;
}

.image img {
	height: 242px;
	width: 242px;
}

.sticky-top.scrolled {
	background-color: #f7f7f7 !important;
	transition: background-color 200ms linear;
}

.mojFooter {
	background-color: #f8f8f8;
	color: #0f0f0f;
	border-top: 1px solid #e7e7e7;
	margin-bottom: 0;
}

.bottom-footer {
	margin-top: 0px;
	padding-top: 7px;
	color: white;
	background-color: black;
}
.footer-nav {
	margin: 20px 0;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.footer-nav li {
	display: inline-flex;
	padding: 0 40px;
	margin-top: 10px;
}
.footer-nav li a {
	color: inherit;
	margin-right: 20px;
	font-size: 17.5px;
}
.footer-nav li a:hover {
	text-decoration: none;
}
/*.img__wrap {*/
/*    position: relative;*/
/*    height: 200px;*/
/*    width: 257px;*/
/*}*/

/*.img__description {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background: rgba(29, 106, 154, 0.72);*/
/*    color: #fff;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/

/*    !* transition effect. not necessary *!*/
/*    transition: opacity .2s, visibility .2s;*/
/*}*/

/*.img__wrap:hover .img__description {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/
